<template>
  <div id="menu-container">
    <ul id="links">
      <li>
        <nuxt-link to="/rules" title="Rules">Rules</nuxt-link>
      </li>
      <li>
        <nuxt-link to="/staff" title="Staff">Staff</nuxt-link>
      </li>
      <li>
        <nuxt-link to="/applications" title="Applications"
          >Applications
        </nuxt-link>
      </li>
      <li>
        <nuxt-link to="/commands" title="Commands">Commands</nuxt-link>
      </li>
      <li>
        <nuxt-link to="/login" title="Log in with Discord">
          Log in with Discord
        </nuxt-link>
      </li>
    </ul>
  </div>
</template>

<style lang="scss">
#menu-container {
  width: 100%;
  text-align: center;
  margin-top: 60px;
}
#links {
  list-style: none;
  li {
    padding: 5px 0;
  }
}
</style>
