<template>
  <div>
    <div id="close" @click="click">
      <p>&times;</p>
    </div>
    <Default v-if="!user" />
    <Session v-else />
  </div>
</template>

<style lang="scss">
#menu {
  height: 100%;
  position: fixed;
  text-align: center;
  color: white;
  width: 100vw;
  background-color: #111;
  opacity: 0.99;
  z-index: 99;
  #close {
    float: right;
    font-size: 50px;
    margin-right: 30px;
    margin-top: -15px;
    p {
      cursor: pointer;
    }
  }
}
</style>

<script>
import Default from './Default'
import Session from './Session'

export default {
  components: {
    Default,
    Session
  },
  data() {
    return {
      user: null
    }
  },
  watch: {
    user(newUser) {
      this.user = newUser
    }
  },
  beforeCreate() {
    this.$nextTick(function() {
      if (!this.user) {
        this.checkUpdate()
      }
      setTimeout(() => {
        if (!this.user) {
          this.checkUpdate()
        }
      }, 1000)
    })
  },
  methods: {
    checkUpdate() {
      if (localStorage.user) {
        this.user = localStorage.user
      }
    },
    click() {
      this.$nuxt.$emit('menuToggle', 'string')
    }
  }
}
</script>
