* {
    padding: 0;
    margin: auto;
}
html, body {
    width: 100%;
    height: 100%;
    background-color: #2C2F33;
    font: 15px/1.5 "Roboto"
}
.wrapper {
    width: 95%;
    display: block;
    margin: auto;
}
a {
    color: #e8e8e8;
    text-decoration: none;
}
a:hover, a:focus {
    color: white;
    text-decoration: none;
}