<template>
  <div>
    <div v-if="loading" id="loading">
      <img src="/media/transparent.png" type="image/png" class="spin" />

      <p id="text">Connecting{{ dots }}</p>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      dots: '',
      loading: false
    }
  },
  mounted() {
    this.$nextTick(() => {
      window.setInterval(() => {
        this.dots = this.dots + '.'
        if (this.dots === '....') {
          this.dots = ''
        }
      }, 500)
    })
  },
  methods: {
    start() {
      this.loading = true
    },
    finish() {
      this.loading = false
    }
  }
}
</script>

<style lang="scss">
#loading {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  img {
    height: 150px;
    vertical-align: middle;
    animation: spin 1.5s infinite;
  }
  #text {
    color: white;
    padding-top: 5px;
  }
}
@keyframes spin {
  0% {
    filter: blur(0px);
  }
  50% {
    filter: blur(1px);
  }
  100% {
    filter: blur(0px);
    transform: rotate(360deg);
  }
}
</style>
