<template>
  <div id="box">
    <div id="owner" v-if="role === 'owner'">
      <p>Owner</p>
    </div>
    <div id="admin" v-if="role === 'admin'">
      <p>Administrator</p>
    </div>
    <div id="mod" v-if="role === 'moderator'">
      <p>Moderator</p>
    </div>
    <div id="image">
      <img :src="avatar" type="image/png" />
    </div>
    <div id="name">
      <p>{{ name }}#{{ discriminator }}</p>
    </div>
  </div>
</template>

<style lang="scss">
#box {
  width: 200px;
  height: 250px;
  background-color: #23272a;
  #image {
    width: 200px;
    height: 200px;
    width: 100%;
    text-align: center;
    img {
      width: 200px;
      height: 200px;
    }
  }
  #name {
    width: 100%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: white;
  }
  #owner,
  #admin,
  #mod {
    width: 200px;
    height: 20px;
    line-height: 20px;
    box-sizing: border-box;
    padding: 0 5px;
    color: white;
  }
  #owner {
    background-color: rgb(6, 0, 255);
  }
  #admin {
    background-color: rgb(194, 124, 14);
  }
  #mod {
    background-color: rgb(26, 188, 156);
  }
}
</style>

<script>
export default {
  props: {
    name: {
      type: String,
      required: true
    },
    discriminator: {
      type: String,
      required: true
    },
    avatar: {
      type: String,
      required: true
    },
    role: {
      type: String,
      required: true
    }
  }
}
</script>
