<template>
  <div>
    <section id="desktop-menu-content">
      <ul>
        <li>
          <nuxt-link to="/queue" title="Music Queue">
            Music Queue
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/applications" title="Your Applications">
            Your Applications
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/logout" title="Logout">
            Logout
          </nuxt-link>
        </li>
      </ul>
    </section>
  </div>
</template>

<style lang="scss">
#desktop-menu-content {
  height: 100%;
  position: fixed;
  text-align: center;
  color: white;
  width: 200px;
  background-color: #111;
  opacity: 0.99;
  z-index: 99;
  ul {
    padding: 20px 0;
    list-style: none;
    li {
      padding: 5px 0;
    }
  }
}
</style>
