<template>
  <div id="website">
    <Menu
      id="menu"
      :class="{ slideIn: !isShown, slideOut: isShown }"
      :style="style"
    />
    <DesktopMenu
      id="desktop-menu"
      :class="{
        desktopSlideIn: !desktopIsShown,
        desktopSlideOut: desktopIsShown
      }"
      :style="desktopStyle"
    />
    <div
      id="page"
      :class="{ slideLeft: desktopIsShown, slideRight: !desktopIsShown }"
      :style="bodyStyle"
    >
      <Header />
      <nuxt id="page-content" />
      <Footer />
    </div>
  </div>
</template>

<script>
import Header from './Header/index'
import Footer from './Neutral/Footer'
import Menu from './Menu/index'
import DesktopMenu from './DesktopMenu'

export default {
  components: {
    Header,
    Footer,
    Menu,
    DesktopMenu
  },
  data() {
    return {
      isShown: false,
      desktopIsShown: false,
      style: {
        marginLeft: '100vw !important'
      },
      desktopStyle: {
        marginRight: '0 !important'
      },
      bodyStyle: {
        marginLeft: '0 !important',
        marginRight: '0 !important'
      }
    }
  },
  watch: {
    $route() {
      this.desktopIsShown = false
      this.isShown = false
      this.style = {
        marginLeft: '100vw !important'
      }
      this.desktopStyle = {
        marginRight: '0 !important'
      }
      this.bodyStyle = {
        marginLeft: '0 !important',
        marginRight: '0 !important'
      }
    }
  },
  mounted() {
    this.$nuxt.$on('menuToggle', data => {
      this.style = { marginLeft: '100vw' }
      if (!this.isShown) {
        this.isShown = true
      } else {
        this.isShown = false
      }
    })
    this.$nuxt.$on('desktopMenuToggle', data => {
      this.desktopStyle = { marginRight: '0' }
      this.bodyStyle = { marginRight: '0', marginLeft: '0' }
      if (!this.desktopIsShown) {
        this.desktopIsShown = true
      } else {
        this.desktopIsShown = false
      }
    })
  }
}
</script>

<style lang="scss">
#website {
  overflow-x: hidden;
}
#page {
  position: relative;
  z-index: 98;
}
#menu {
  width: 100vw;
}
#desktop-menu {
  float: right;
}
#page-content {
  min-height: calc(100vh - 50px);
}
.slideOut {
  animation: 0.2s forwards slideOut;
}
.slideIn {
  animation: 0.2s forwards slideIn;
}
@keyframes slideIn {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 100vw;
  }
}
@keyframes slideOut {
  0% {
    margin-left: 100vw;
  }
  100% {
    margin-left: 0;
  }
}
.desktopSlideOut {
  animation: 0.2s forwards desktopSlideOut;
}
.desktopSlideIn {
  animation: 0.2s forwards desktopSlideIn;
}
@keyframes desktopSlideIn {
  0% {
    margin-right: 200px;
  }
  100% {
    margin-right: -200px;
  }
}
@keyframes desktopSlideOut {
  0% {
    margin-right: -200px;
  }
  100% {
    margin-right: 200px;
  }
}
.slideLeft {
  animation: 0.2s forwards bodySlideLeft;
}
.slideRight {
  animation: 0.2s forwards bodySlideRight;
}
@keyframes bodySlideLeft {
  0% {
    margin-right: 0;
    margin-left: 0;
  }
  100% {
    margin-right: 200px;
    margin-left: -200px;
  }
}
@keyframes bodySlideRight {
  0% {
    margin-left: -200px;
    margin-right: 200px;
  }
  100% {
    margin-left: 0;
    margin-right: 0;
  }
}
</style>
