<template>
  <div>
    <section id="error-page">
      <p id="error">Something happened...</p>
    </section>
  </div>
</template>

<style lang="scss">
#error-page {
  width: 100vw;
  height: calc(100vh - 50px);
  line-height: calc(100vh - 50px);
  text-align: center;
  #error {
    color: white;
  }
}
</style>
