<template>
  <div>
    <section id="callback-page">
      <p id="callback">Please wait...</p>
    </section>
  </div>
</template>

<style lang="scss">
#callback-page {
  width: 100vw;
  height: calc(100vh - 50px);
  line-height: calc(100vh - 50px);
  text-align: center;
  #callback {
    color: white;
  }
}
</style>

<script>
export default {
  asyncData() {
    return new Promise(resolve => {
      resolve({})
    })
  },
  beforeMount() {
    this.$axios
      .post('user/login', { code: this.$route.query.code })
      .then(response => {
        if (response.data.success) {
          this.$store.commit('user/set', response.data.user)
          this.$router.push('/')
        } else {
          this.$router.push('/error')
        }
      })
      .catch(error => {
        this.$router.push('/error')
        return error
      })
  }
}
</script>
