<template>
  <div>
    <div id="welcome">
      <h1 id="welcome-title">Furcord</h1>
      <p id="welcome-subtitle">
        A Discord server by furries, for furries!
      </p>
    </div>
    <div id="buttons">
      <ul>
        <li>
          <nuxt-link to="/join" title="Join Server">
            <button>
              Join Server
            </button>
          </nuxt-link>
        </li>
        <li v-if="!user">
          <nuxt-link to="/login" title="Log in">
            <button>
              Log in
            </button>
          </nuxt-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      user: null
    }
  },
  watch: {
    user(newUser) {
      this.user = newUser
    }
  },
  asyncData() {
    return new Promise(resolve => {
      resolve({})
    })
  },
  beforeCreate() {
    this.$nextTick(function() {
      if (!this.user) {
        this.checkUpdate()
      }
      setTimeout(() => {
        if (!this.user) {
          this.checkUpdate()
        }
      }, 1000)
    })
    this.$nuxt.$on('logout', data => {
      this.user = null
    })
  },
  methods: {
    checkUpdate() {
      if (localStorage.user) {
        this.user = localStorage.user
      }
    }
  }
}
</script>

<style lang="scss">
#welcome {
  width: 100%;
  height: 30vh;
  background-color: #23272a;
  text-align: center;
  padding-top: 5vh;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: white;
  #welcome-title {
    padding-bottom: 10px;
  }
}
#buttons {
  width: 100%;
  height: calc(100vh - 30vh - 50px);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-top: calc(((100vh - 30vh - 50px) / 2) - 15px);
  ul {
    width: 100%;
    text-align: center;
    li {
      display: inline;
      padding: 10px;
    }
  }
  button {
    height: 30px;
    width: 15%;
    border-radius: 2px;
    border: 1px solid #5364a0;
    background-color: #7289da;
    color: white;
    cursor: pointer;
  }
}
@media screen and (max-width: 768px) {
  #buttons {
    button {
      width: 50%;
      margin-bottom: 10px;
    }
  }
}
</style>
