<template>
  <div>
    <section id="join-page">
      <p id="join">Please wait...</p>
    </section>
  </div>
</template>

<style lang="scss">
#join-page {
  width: 100vw;
  height: calc(100vh - 50px);
  line-height: calc(100vh - 50px);
  text-align: center;
  #join {
    color: white;
  }
}
</style>

<script>
export default {
  asyncData() {
    return new Promise(resolve => {
      resolve({})
    })
  },
  beforeMount() {
    window.location.href = 'https://discordapp.com/invite/SPtRSVc'
  }
}
</script>





