<template>
  <div>
    <section id="login-page">
      <p id="login">Please wait to be redirected...</p>
    </section>
  </div>
</template>

<style lang="scss">
#login-page {
  width: 100vw;
  height: calc(100vh - 50px);
  line-height: calc(100vh - 50px);
  text-align: center;
  #login {
    color: white;
  }
}
</style>

<script>
export default {
  asyncData() {
    return new Promise(resolve => {
      resolve({})
    })
  },
  beforeMount() {
    window.location.href =
      'https://discordapp.com/api/oauth2/authorize?client_id=560991998408917003&redirect_uri=https%3A%2F%2Ffurcord.net%2Fcallback&response_type=code&scope=identify'
  }
}
</script>
