<template>
  <div>
    <section id="logout-page">
      <p id="logout">Please wait...</p>
    </section>
  </div>
</template>

<style lang="scss">
#logout-page {
  width: 100vw;
  height: calc(100vh - 50px);
  line-height: calc(100vh - 50px);
  text-align: center;
  #logout {
    color: white;
  }
}
</style>

<script>
export default {
  asyncData() {
    return new Promise(resolve => {
      resolve({})
    })
  },
  mounted() {
    this.$axios
      .post('user/logout')
      .then(response => {
        if (response.data.success) {
          this.$store.commit('user/remove')
          window.localStorage.removeItem('user')
          this.$nuxt.$emit('logout', 'string')
          this.$router.push('/')
        } else {
          this.$router.push('/error')
        }
      })
      .catch(error => {
        this.$router.push('/error')
        return error
      })
  }
}
</script>
