<template>
  <div>
    <section id="coming-page">
      <p id="coming">This feature is coming soon...</p>
    </section>
  </div>
</template>

<style lang="scss">
#coming-page {
  width: 100vw;
  height: calc(100vh - 50px);
  line-height: calc(100vh - 50px);
  text-align: center;
  #coming {
    color: white;
  }
}
</style>

<script>
export default {
  asyncData() {
    return new Promise(resolve => {
      resolve({})
    })
  }
}
</script>
