<template>
  <div>
    <div id="rules">
      <p id="rules-title">Furcord Rules</p>
      <ol>
        <li>Don't create drama intentionality.</li>
        <ul>
          <li>
            - We don't like drama. No one does. If you go out of your way to
            cause drama you will face punishment.
          </li>
        </ul>
        <li>
          Staff have the final say. Staff are the people with the roles of
          Owner, Co-Owner, Administrator, Moderator, or Trial Mod.
        </li>
        <ul>
          <li>
            - Don't argue with them. They will assess a given situation and
            determine what is the best course of action. If you have an issue
            with a specific staff member, talk to the Owner.
          </li>
        </ul>
        <li>
          No hatred towards other groups.
          <ul>
            <li>
              - This includes use of the n word and other derogatory terms. It's
              simple. We're all people and are all equal no matter race, age,
              sexual orientation, or any other things about a person.
            </li>
          </ul>
        </li>
        <li>
          No over excessive profanity
          <ul>
            <li>
              - We don't mind swearing, but if you drop an f bomb in every
              single message you may face punishment.
            </li>
          </ul>
        </li>
        <li>
          No trying to get someone's personal information without their consent
          or sharing any personal information of someone in the server without
          their consent.
          <ul>
            <li>
              - Pretty self explanatory.Sending an IP address grabber will
              result in an immediate ban.
            </li>
          </ul>
        </li>
        <li>
          Don't ping the owner or staff unnecessarily.
        </li>
        <li>
          Don't advertise other servers unless partnered with us.
        </li>
        <li>
          Don't talk about gross or disturbing topics. I.E. Zoophillia. This
          includes illegal topics.
        </li>
        <li>
          A furry Discord avatar that can be found on the first few pages of
          Google will get you kicked. This is due to this being a tactic used by
          raiders.
        </li>
        <li>
          We're here to have fun and socialize. Use common sense.
        </li>
      </ol>
    </div>
  </div>
</template>

<style lang="scss">
#rules {
  width: 100vw;
  min-height: calc(100vh - 50px);
  #rules-title {
    font-size: 25px;
    color: white;
    text-decoration: underline;
    width: 200px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    margin: auto;
  }
  ol {
    width: 60%;
    display: block;
    margin: auto;
    li {
      color: white;
    }
  }
  ul {
    list-style: none;
    li {
      color: white;
    }
  }
}
@media screen and (max-width: 768px) {
  #rules ol {
    width: 80%;
  }
}
</style>
