<template>
  <div>
    <div id="staff">
      <p id="staff-title">Furcord Staff</p>
      <section id="staff-list">
        <div v-if="error">
          <p id="error">Something happened...</p>
        </div>
        <div v-else>
          <ul id="staff-list">
            <li v-for="user in staff" :key="user.id">
              <StaffBox
                :name="user.username"
                :discriminator="user.discriminator"
                :avatar="user.avatarURL"
                :role="user.role"
                class="staffbox"
              />
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</template>

<style lang="scss">
#staff {
  width: 100vw;
  min-height: calc(100vh - 50px);
  #staff-title {
    font-size: 25px;
    color: white;
    text-decoration: underline;
    width: 200px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    margin: auto;
  }
  #error {
    line-height: calc(100vh - 205px);
    color: white;
    width: 100%;
    text-align: center;
  }
  #staff-list {
    list-style: none;
    width: 100%;
    text-align: center;
    li {
      display: inline-block;
      margin: 2px 5px;
    }
  }
}
</style>

<script>
import StaffBox from '~/components/staffbox.vue'

export default {
  components: {
    StaffBox
  },
  data() {
    return {
      staff: [],
      error: false
    }
  },
  beforeCreate() {
    this.$axios
      .get('information/staff')
      .then(response => {
        if (response.data.success) {
          this.staff = JSON.parse(response.data.staff)
        } else {
          this.error = true
        }
      })
      .catch(error => {
        this.error = true
        return error
      })
  }
}
</script>
