<template>
  <div>
    <header>
      <div class="wrapper">
        <Default v-if="!user" />
        <Session v-else :user="user" />
      </div>
    </header>
  </div>
</template>

<script>
import Default from './Default'
import Session from './Session'

export default {
  components: {
    Default,
    Session
  },
  data() {
    return {
      user: null
    }
  },
  watch: {
    user(newUser) {
      this.user = newUser
    }
  },
  beforeCreate() {
    this.$nextTick(function() {
      if (!this.user) {
        this.checkUpdate()
      }
      setTimeout(() => {
        if (!this.user) {
          this.checkUpdate()
        }
      }, 1000)
    })
    this.$nuxt.$on('logout', data => {
      this.user = null
    })
  },
  methods: {
    checkUpdate() {
      if (localStorage.user) {
        this.user = localStorage.user
      }
    }
  }
}
</script>

<style lang="scss">
header {
  height: 50px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  line-height: 50px;
  overflow: hidden;
  background-color: #23272a;
}
</style>
