<template>
  <div>
    <div id="desktop">
      <section id="server-links">
        <ul>
          <li>
            <nuxt-link to="/rules" title="Rules">Rules</nuxt-link>
          </li>
          <li>
            <nuxt-link to="/staff" title="Staff">Staff</nuxt-link>
          </li>
          <li>
            <nuxt-link to="/applications" title="Applications"
              >Applications
            </nuxt-link>
          </li>
          <li>
            <nuxt-link to="/commands" title="Commands">Commands</nuxt-link>
          </li>
        </ul>
      </section>
      <section id="branding">
        <nuxt-link to="/" tite="Furcord">
          <img src="~/static/media/transparent.png" type="image/png" />
        </nuxt-link>
      </section>
      <section id="user-info" @click="sideMenu">
        <ul>
          <li>
            <p id="username">{{ u.username }}</p>
          </li>
          <li>
            <img :src="u.avatar" type="image/png" />
          </li>
        </ul>
      </section>
    </div>
    <div id="mobile">
      <section id="branding">
        <nuxt-link to="/" tite="Furcord">
          <img src="~/static/media/transparent.png" type="image/png" />
        </nuxt-link>
      </section>
      <section id="default-menu-toggle" @click="click">
        <svg width="30" height="30">
          <path d="M0,5 30,5" stroke="#fff" stroke-width="3" />
          <path d="M0,14 30,14" stroke="#fff" stroke-width="3" />
          <path d="M0,23 30,23" stroke="#fff" stroke-width="3" />
        </svg>
      </section>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    user: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      u: JSON.parse(this.user).user.user
    }
  },
  methods: {
    click: function() {
      this.$nuxt.$emit('menuToggle', 'string')
    },
    sideMenu: function() {
      this.$nuxt.$emit('desktopMenuToggle', 'string')
    }
  }
}
</script>

<style lang="scss">
#desktop {
  display: block;
}
#mobile {
  display: none;
  #branding {
    display: inline;
    margin: auto;
    width: 50%;
    text-align: center;
    img {
      width: 50px;
    }
  }
  #default-menu-toggle {
    display: inline;
    float: right;
    padding: 10px 0;
    cursor: pointer;
  }
}
@media screen and (max-width: 768px) {
  #desktop {
    display: none;
  }
  #mobile {
    display: block;
  }
}
#server-links {
  float: left;
  width: 33%;
  text-align: center;
  ul {
    list-style: none;
    li {
      padding: 0 20px;
      display: inline;
    }
  }
}
#desktop {
  #branding {
    width: 33%;
    text-align: center;
    float: left;
    img {
      width: 50px;
    }
  }
}
#login-links {
  width: 34%;
  text-align: center;
  float: right;
  a {
    color: #7289da;
  }
}
#user-info {
  width: 34%;
  text-align: right;
  float: right;
  cursor: pointer;
  ul {
    list-style: none;
    display: inline;
    li {
      display: inline;
      color: white;
      margin: 0 5px;
      p {
        display: inline;
      }
      img {
        float: right;
        display: inline;
        width: 50px;
        clear: both;
      }
    }
  }
}
</style>
