<template>
  <div>
    <footer>
      <div class="wrapper">
        <ul v-if="show" id="footer-names">
          <li v-for="name in names" :key="name.id">
            {{ name.username }}
          </li>
        </ul>
        <p v-else id="footer-note">Furcord</p>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  data() {
    return {
      names: [],
      show: true
    }
  },
  beforeMount: function() {
    this.$axios
      .get('information/footer')
      .then(response => {
        if (response.data.success === undefined) {
          this.names = response.data
        } else {
          this.show = false
        }
      })
      .catch(error => {
        this.show = false
        return error
      })
  }
}
</script>

<style lang="scss">
footer {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #23272a;
  ul {
    list-style: none;
    li {
      display: inline;
      padding: 0 10px;
      color: white;
    }
  }
  #footer-note {
    width: 100%;
    text-align: center;
    color: white;
  }
}
</style>
